{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {% if category %}
    {{category.description|truncatewords:100}}
    {% else %}
    ABC SHOP ......................
    {% endif%}
{% endblock %}

{% block title %}
    {% if category %}
    {{category.name}}
    {% else %}
    see our new collections ......................
    {% endif %}
{% endblock %}

<!---------------------------block content ------------------------------>

{% block content %}

{% if category %}
<div>
    <div>
        <p><a href="{% url 'shop:allProCat' %}">our product collections</a></p>
    </div>
</div>
{% endif %}

<div>
{% if category %}
<div>
    <img src="{{category.image.url}}"style="max-width: 25rem;" >
</div>
<div>
    <h4>{{category.name}}</h4>
    <p>{{category.description}}</p>
</div>

{% else %}
<div>
    <img src="{% static 'img/banner.png' %}" height="300px" width="1500px">
</div>
<div>
    <h4>our product collections </h4>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
</div>
{% endif %}
</div>

<div class="container">
    <div class="row mx_auto mt-5">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-md-3 col-9 col-sm-12 mb-3">
            <div class="card text-center " style="width: 18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" height="100px" width="100px"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
        </div>
        </div>
        {% endfor %}
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif%}">{{pg}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div> 












{% endblock %}