{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    we have variety of prducts
{% endblock %}

{% block title %}
  search
{% endblock %}

<!---------------------------------block content  -------------------->

{% block content %}
<div>
    <p class="text-center my_search_text"> you have searched for :<b>"{{query}}"</b></p>
</div>

<div class="container">
    <div class="row mx_auto mt-5">
    {% for product in products %}
        <div class="my_bottom_margin col-md-3 col-9 col-sm-12 mb-3">
            <div class="card text-center " style="width: 18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" height="100px" width="100px"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
        </div>
        </div>
        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search_text"> 0 result found </p>
        </div>

        {% endfor %}
</div>
</div>
{% endblock %}